In [ ]:
Que.1 What exactly is []?

ANS- square brackets [] are used to create list .
     [] represents empty list. This is similar to empty string value("")
     List can have any number of items and they can be of different data types.
     
     example-
      list = [2,3,4,5,"sudh",5+7j,22.7]

In [ ]:
Que.2 In a list of values stored in a variable called spam, how would you assign the value "hello" as the third value?
      Assume [2,4,6,8,10] are in spam.
      Let's pretend the spam includes the list ['a','b','c','d'] for the next three queries
      
ANS--

In [2]:
spam = [2,4,6,8,10]

spam[2]= "hello"

In [4]:
spam

[2, 4, 'hello', 8, 10]

In [ ]:
Que.3 What is the value of spam[int(int('3'*2)/11)]?
      spam = ['a','b','c','d']
      
ANS- It gives 'd' as the output.

In [6]:
spam = ['a','b','c','d']

spam[int(int('3'*2)/11)]

'd'

In [ ]:
Que.4 What is the value of spam[-1]?

ANS- it will give 'd' as a result .
     as negative indexes count from the end.

In [7]:
spam = ['a','b','c','d']
spam[-1]

'd'

In [ ]:
Que.5 What is the value of spam[:2]?

ANS- ['a','b']
     it will give elements at the 0th and the 1st index.

In [8]:
spam = ['a','b','c','d']

spam[:2]

['a', 'b']

In [ ]:
Que.6 bacon=[3.14,'cat',11,'cat',True]
      What is the value of bacon.index('cat')?
      
ANS- It will check the first occurance of the string "cat" and will return its index.

In [9]:
bacon=[3.14,'cat',11,'cat',True]

bacon.index('cat')

1

In [ ]:
Que.7 How does bacon.append(99) change the look of the list value in bacon?

ANS- It will add 99 as the last element of the list .

In [12]:
bacon=[3.14,'cat',11,'cat',True]

bacon.append(99)
bacon

[3.14, 'cat', 11, 'cat', True, 99]

In [ ]:
Que.8 How does bacon.remove('cat') changes the look of the list bacon?

ANS- It will remove the string'cat' which is at the 1st index , as remove function only removes elememts which occurs first

In [14]:
bacon=[3.14,'cat',11,'cat',True]

bacon.remove('cat')
bacon

[3.14, 11, 'cat', True]

In [ ]:
Que.9  What are the list concatenation and list replication operators?

ANS- List concatenation operator is   +  and
     List relication operator is      *
     
Example -

In [17]:
a = [2,4,6]  #concatenation
b=  [7,8,9]

c= a+b
c

[2, 4, 6, 7, 8, 9]

In [22]:
d = a*2  #replication
d

[2, 4, 6, 2, 4, 6]

In [ ]:
Que.10 What is the difference between the list operation append() and insert()?

ANS- append() add values at the end of the list.
     while using insert() we can give the index at which we want to insert that value.

In [26]:
a = [2,4,6]
a.append(36)
a

[2, 4, 6, 36]

In [30]:
a= [2,4,6]
a.insert(0,29)  
a

[29, 2, 4, 6]

In [ ]:
Que.11 What are the two methods for removing items from the list?

ANS- remove() and pop() are two methods which are used for removing items from the list.
     
     IN remove() method we pass the value that we want to remove from the list.
     IN POP() method we pass the index of the value that we want to remove.

In [35]:
a = [2,4,6,8,10]

a.remove(4)
a

[2, 6, 8, 10]

In [36]:
a = [2,4,6,8,10]

a.pop(4)
a

[2, 4, 6, 8]

In [ ]:
Que.12 Describe how list values and string values are identical.

ANS- List and Strings are both sequences
     each element of the list and each character of the string has a index number.

In [ ]:
Que.13 What's the difference between tuples and lists?

ANS-  Tuple is a datatype which is immutable ,that is it cannot be changed.
      while, lists are  mutable and can be easily modified.
      
      
      Tuples consumes less memory compared to list.
      list consume more memory.
      
      
      Tuple does not have many built-in methods.
      Lists have several number of  build-in methods
      
      
      tuples are defined using  simple brackets ()
      lists are formed using square brackets []

In [ ]:
Que.14 How do you type a tuple value that only contains the integer 42?

ANS-  IF we put a comma, after the number it will become a tuple .
      without this comma its type will be integer

In [45]:
t = (42,)
type(t)

tuple

In [ ]:
Que.15 How do you get a list value's tuple form? how do you get tuple value's list form?

ANS-

In [46]:
a = [2,4,6,8,10,12]

t= tuple(a)
t

(2, 4, 6, 8, 10, 12)

In [48]:
t = (12,14,16,18,20)

a = list(t)
a

[12, 14, 16, 18, 20]

In [ ]:
Que.16 Variables that "contain" list values are not necessarily list themselves. Instead , what do they contain?

ANS- variables only contain reference to the list values rather than the list values themselves.

In [ ]:
Que.17 How do you distinguish between copy.copy() and copy.deepcopy()?

ANS copy.copy() will do a shallow copy of a list , while copy.deepcopy() will do a deep copy of a list.
    only copy.deepcopy() will duplicate any list inside the list.